# dependencies
node_modules/

# next
.next/
out/

# python
venv/
__pycache__/
*.pyc

# env
.env
.env.local

# mac
.DS_Store

# uploads
uploads/

# logs
*.log

# build
dist/
build/

# vscode
.vscode/

# docker
docker-data/